.color-primary {
  color: #1D428A; }

.color-primary-bg {
  background-color: #1D428A; }

.footer {
  background-color: #2a60c9;
  position: relative;
  height: 10rem; }
  .footer__bottom {
    position: absolute;
    bottom: 0;
    background-color: #1D428A;
    width: 100%;
    height: 5rem; }
    .footer__bottom p {
      text-align: center;
      margin-top: 2rem;
      color: #fff; }

.header__navbar__wrapper__container li {
  margin-left: 2rem; }

.headerMsg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem; }

.card__div {
  height: 150px;
  width: 150px;
  margin: 20px auto;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #bfbfbf;
  cursor: pointer; }

.card__img {
  height: 100%;
  width: 100%;
  border-radius: 5px; }
