.card {

    &__div {
        width: 150px; 
        margin: 20px auto;
        padding: 20px;
        border: 1px solid $color-grey-light;
        border-radius: 5px;
        box-shadow: 5px 5px 5px $color-grey-light;
        cursor: pointer;
    }

    &__img {
        
        height: 100px;
        width: 100px;
        object-fit: contain;
       
    }
}
