.card {

    &__div {
        height: 150px;
        width: 150px; 
        margin: 20px auto;        
        border: 1px solid $color-grey-light;
        border-radius: 5px; 
        box-shadow: 5px 5px 5px $color-grey-light;
        cursor: pointer;
    }

    &__img {
        
        height: 100%;
        width: 100%;      
        border-radius: 5px; 
       
    }
}
