.header {

    &__navbar {

        &__wrapper {

            &__container {

                li {
                    margin-left: 2rem; 
                }
            }
        }
    }

    &Msg {
        position: absolute;
        left: 50%; 
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
    }
}